---
import Layout from "@/layouts/Layout.astro";
import { RamenList } from "@/feature/ramen/components/ramen-list";
import fetchApi from "@/lib/strapi";
import type { Ramen } from "@/feature/ramen/types/ramen";

const items = await fetchApi<Ramen[]>({
  endpoint: "ramens?populate=images",
  wrappedByKey: "data",
});
---

<Layout>
  <main class="container mx-auto py-8 px-4">
    <h1 class="grid justify-center my-8 text-6xl">🍜</h1>

    <RamenList items={items} />
  </main>
</Layout>
